<h4>Listado</h4>
<ul class="list-group ">
  <li
    class="list-group-item d-flex justify-content-between aling-items-center"
    *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last
    "
    [ngClass]="{
      'list-group-item-success': isFirst,
      'list-group-item-primary': isLast
    }"
  >
  <div>
    <span class="text-primary">{{ i + 1 }}.</span>
    <span>{{ character.name }}</span>
    - Power:
    <strong>{{ character.power }}</strong>
    <span *ngIf="isFirst"> "Es el Primero"</span>
    <span *ngIf="isLast"> Es el ultimo</span>
  </div>

    <button class="btn btn-danger mx-1" (click)="onDeleteCharacter(character.id)"><strong>X</strong></button>
  </li>
</ul>
